<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048998343342-v7kif47l0q522rldnns268kav5qeevjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048998343342-v7kif47l0q522rldnns268kav5qeevjq</string>
	<key>API_KEY</key>
	<string>AIzaSyCoENq4Ria35q4zNj-4DbiBQy8vzU0JqVg</string>
	<key>GCM_SENDER_ID</key>
	<string>1048998343342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoh.radwimpsApp</string>
	<key>PROJECT_ID</key>
	<string>radwimps-app-1b5e7</string>
	<key>STORAGE_BUCKET</key>
	<string>radwimps-app-1b5e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048998343342:ios:f91a45cee81a5cccaaf33f</string>
</dict>
</plist>